body {
  background-color: #FFEEAD;
  text-align: center;
  color: #96CEB4;
}

h1 {
  font-size: 6rem;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 white;
}

footer {
  color: white;
  font-family: "Roboto Mono", monospace;
}

.set {
  margin: 10% auto;
}

.drum {
  outline: none;
  border: 10px solid #96CEB4;
  font-size: 4.5rem;
  font-family: "Roboto Mono", monospace;
  line-height: 2;
  font-weight: 900;
  color: #FF6363;
  text-shadow: 3px 0 #96CEB4;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/kick.png");
}

.l {
  background-image: url("images/crash.png");
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}
